**/__pycache__/**

# environment file
config.toml
!sample_config.toml

# Build folder
dist/

# Runtime data
.cache/
downloads/
caligo/downloads/

# file
.DS_Store
*.pyc
*.log
*.session
*.session-journal

# IDE specific files
.idea/
.vscode/
*.sw*
