aiohttp==3.8.3 ; python_version >= "3.11" and python_version < "4.0"
aiopath==0.6.11 ; python_version >= "3.11" and python_version < "4.0"
aiorun==2022.11.1 ; python_version >= "3.11" and python_version < "4.0"
colorlog==6.7.0 ; python_version >= "3.11" and python_version < "4.0"
gitpython==3.1.30; python_version >= "3.11" and python_version < "4.0"
meval==2.5 ; python_version >= "3.11" and python_version < "4.0"
pymongo==4.3.3 ; python_version >= "3.11" and python_version < "4.0"
pyrogram==2.0.96 ; python_version >= "3.11" and python_version < "4.0"
tgcrypto==1.2.5 ; python_version >= "3.11" and python_version < "4.0"
uvloop==0.17.0 ; python_version >= "3.11" and python_version < "4.0"
